include ../../atoms/icon/icon

mixin menu(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.active = spec.active || null

  nav.menu(class=spec.__class)&attributes(attributes)
    a.menu__item(href=site.data.pages.buildings.link class=site.data.pages.buildings.dataName  === spec.active ? 'menu__item--active' : '')
      span.menu__text= site.data.pages.buildings.name
      +icon({ '__class': 'menu__icon', icon: 'happy' })
    a.menu__item(href=site.data.pages.market.link class=site.data.pages.market.dataName === spec.active ? 'menu__item--active' : '')
      span.menu__text= site.data.pages.market.name
      +icon({ '__class': 'menu__icon', icon: 'happy' })
    a.menu__item(href=site.data.pages.rent.link class=site.data.pages.rent.dataName === spec.active ? 'menu__item--active' : '')
      span.menu__text= site.data.pages.rent.name
      +icon({ '__class': 'menu__icon', icon: 'happy' })