include ../../molecules/details/details

mixin item(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.image = spec.image || ''
  - spec.title = spec.title || ''
  - spec.subtitle = spec.subtitle || ''
  - spec.price = spec.price || ''
  - spec.date = spec.date || ''
  - spec.add = spec.add || ''
  - spec.promotion = spec.promotion || ''
  - spec.details = spec.details || ''

  a.m-item(href="#" class=spec.__class)&attributes(attributes)
     .m-item__image.js-bg-color(data-path-from-js="" + spec.image + "" style="background-image: url('" + spec.image + "')")
      .m-item__date= spec.date
      .m-item__addition= spec.add
      if spec.promotion
       .m-item__promotion Акційна пропозиція
     .m-item__content
      .m-item__describe
        .m-item__title= spec.title
        .m-item__subtitle= spec.subtitle
      .m-item__price= spec.price
      +details({ '__class': 'm-item__details', details: spec.details })